@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
 --dark: #1a2d3c;
 --dark-blue: #365768;

 --header-font: "Fredericka the Great", serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}